# OpenRouter - local .env should override this
OPENROUTER_API_KEY=your_openrouter_key_here
# Testing model
OPENROUTER_MODEL=openai/gpt-4o-mini
# Hackathon model
# OPENROUTER_MODEL=anthropic/claude-sonnet-4.5
OPENROUTER_TEMPERATURE=0
OPENROUTER_MAX_TOKENS=2048

# LangSmith Observability
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT="C7-Hackathon-Group-14-autoheal-browser-agent Public"

# App
PYTHON_API_PORT=8000
DEMO_SITE_URL=http://localhost:5000
GENERATED_TESTS_DIR=../../generated-tests
ARTIFACTS_DIR=../../artifacts
